.chat {
  position: absolute;
  top: calc(50% - 400px);
  left: calc(50% - 400px);
  width: 800px;
  height: 800px;
}

.content {
  margin-top: 10px; 
  height: 700px;
  overflow-y: scroll;
  background: #fff; 
  border-radius: 10px;
  border: 1px solid #ccc;
}

.sendForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.enterMessage { 
  width: 90%;
}

.sendForm .sendMessage {
  width: 35px;
  height: 35px;
  font-size: 15px;
  background: #5e4ac6;
  border: none;
  border-radius: 20px;
  color: #f7f7f7;
  outline: none;
  transition: transform 0.5s ease-in;
}

.sendMessage:hover {
  transition: transform 0.2s ease-in;
  transform: rotate(-90deg);
  background: #423392;
}

.status { 
  margin-top: 15px; 
  width: 88px;
  display: block;
  float: left;
}
