.auth {
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  width: 400px;
  background: #f7f7f7;
  border-radius: 6px;
  box-shadow: 0px 31px 60px -10px rgba(188,138,108,0.6);
}

.nameForm {
  margin-top: 20px;
  font-size: 18px;
  color: #383255;
}

.authForm {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
