body {
  position: relative;
  height: 100vh;
  background: #f7f7f7;
}

* { 
  font-family: tahoma; 
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
}

input[type="text"] {
  padding: 0 20px;
  height: 35px;
  border-radius: 20px;
  border: 1px solid #d3d3d3;
  outline: none;
}

input[type="submit"] {
  width: 140px;
  height: 35px;
  font-size: 15px;
  background: #5e4ac6;
  border: none;
  border-radius: 20px;
  color: #f7f7f7;
  outline: none;
}

input[type="submit"]:hover {
  background: #423392;
}
